@font-face {
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: regular;
  text-transform: uppercase;
}

body  {
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
}
